html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Arial';
    background-color: rgb(50, 50, 50); 
    font-size: large;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: justify;
    font-size: 25px;
}

.square {
    margin: 0px auto;
    margin-top: 145px; /* Gap to NavBar */
    width: 1000px; /* Square Width */
    height: 5960px; /* Squre Height */
    background-color: rgba(21, 21, 21, 0.9); 
    backdrop-filter: blur(10px);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px 50px;
    font-size: 25px;
}

h1 {
    margin: 0px 0px;
    font-weight: bolder;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: bold;
    font-family: Courier, monospace;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;

    overflow: hidden;
    position: fixed;
    top: 25px; /* Gap to Top of the Page */
    z-index: 1000;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
    
    left: 50%;
    transform: translateX(-50%);
}

nav img {
    float: left;
    height: 42px;
    width: 75px;
    padding: 2px;
    padding-right: 12px;
}

nav p {
    float: left;
    padding: 16px;
    margin: 0px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: #111;
    text-shadow: 0 0 0px #ffffff;
    border-radius: 7px;
}

@media only screen and (max-width: 1250px) {
    p {
        margin: 0 50px;
    }
}