html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282828;
}

h1 {
    color:black;
    font-size: 112px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial;
}

h2 {
    color:rgb(255, 255, 255);
    background-color: #282828;
    font-size: 64px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial;
}

p {
    color:rgb(255, 255, 255);
    background-color: #282828;
    font-size: 24px;
    text-align: justify;
    font-family: 'Trebuchet MS', Arial;
    line-height: 1.3em;
    margin: 0 375px;
}

h3 {
    color:rgb(255, 255, 255);
    background-color: #282828;
    font-size: 24px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial;
    line-height: 1.3em;
    margin: 0 375px; 
}

#link {
    color:rgb(51,102,204);	
    background-color: #282828;
    font-size: 24px;
    text-decoration: underline;
    text-align: justify;
    font-family: 'Trebuchet MS', Arial;
    line-height: 1.3em;
    margin: 0 375px; 
}

a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', Arial;

}

.logo {
    color: white;
    font-size: 200px;
    font-family: 'Trebuchet MS', Arial;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("./images/nav_background.png");
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffffff;
    color: black;
}

table {
    text-align: center;
    border-color: white;
}

th, td {
    color:white;
    font-size: 75px;
    font-family: 'Trebuchet MS', Arial;
    font-weight: bold;
    padding: 20px;
    position: center;
    text-align: center;
    padding: 0 100px;
}

.home {
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', Arial;
    text-align: justify;
    font-weight: 100;
}